<%- include("../includes/header.ejs", {title: "Update account for" + account[0].first__name + " " + account[0].last_name}); %>

<h1>Update Account</h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= account[0].first_name%>"/>
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= account[0].last_name%>"/>
    <br />
    Email: <input id="email" name="email" type="text" value="<%= account[0].email%>"/>
    <br />
    Skills:
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";

            if(skill[i].account_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name + ', ' + skill[i].description %></option>
        <% } %>
    </select>
    <br />
    Schools
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].school_id %>"><%= school[i].school_name  %></option>
        <% } %>
    </select>
    <br />
    Companies
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%= company[i].company_id %>"><%= company[i].company_name  %></option>
        <% } %>
    </select>



    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
            $('#school_id').multiselect();
            $('#company_id').multiselect();
        });
    </script>

    <br />


    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>